@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Fira Code', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #010C15;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #607B96;
}

.me {
  height: 230px;
  border: 2px solid #43D9AD;
  border-radius: 100%;
  position: absolute;
  left: 10%;
  top: 10%;
  transition: 300ms;
}
.me:hover {
    transform: scale(105%);
    border: 2px solid #43D9AD;
    border-radius: 80px;
}

@media (max-width: 920px) {
  .developer {
    margin-top: 8px;
  }
  .imgme {
    margin-top: 30px;
    width: 100%;
    position: relative;
    display: flex;
  }
  .me {
    left: 28%;
    width: 150px;
    height: 150px;
  }
  .main {
    width: 88%;
    text-align: center;
  }
  .presentation {
    text-align: center;
  }
  .presentationsec {
    margin-top: 170px;
  }
  *{
    font-size: 15px;
  }
  .const {
    display: none;
  }
  .tech, .info {
    max-width: none;
  }
  .icons {
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tech {
    margin-top: 25px;
  }
  .exp {
    display: flex;
    justify-content: center;
  }
}